<!DOCTYPE html>
<html data-ng-app="store">
    <head>
        <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/flatlander.css" />
    </head>
    <body data-ng-controller="StoreController as store">
        <h1>{{"Hello," + " Angular!"}}</h1>
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="product in store.products">
                <div data-ng-hide="store.product.soldOut">
                    <h3>
                        {{product.name}}
                        <em class="pull-right">{{product.price | currency}}</em>
                    </h3>
                    <button data-ng-show="product.canPurchase">Add to Cart</button>
                    <div class="gallery" data-ng-show="product.images.length" 
                                         data-ng-controller="GalleryController as gallery">
                        <div class="img-wrap">
                            <img ng-src="{{product.images[gallery.current].full}}" />
                        </div>
                        <ul class="img-thumbnails clearfix">
                            <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
                                <img data-ng-src="{{image.thumb}}" data-ng-click="gallery.setCurrent($index)" />
                            </li>
                        </ul>
                    </div>
                    <section data-ng-controller="PanelController as panel">
                        <ul class="nav nav-pills">
                            <li data-ng-class="{ active:panel.isSelected(1) }"> 
                                <a href data-ng-click="panel.setTab(1)">Description</a> 
                            </li>
                            <li data-ng-class="{ active:panel.isSelected(2) }"> 
                                <a href data-ng-click="panel.setTab(2)">Specifications</a> 
                            </li>
                            <li data-ng-class="{ active:panel.isSelected(3) }"> 
                                <a href data-ng-click="panel.setTab(3)">Reviews</a> 
                            </li>
                        </ul>
                        <div class="panel" data-ng-show="panel.isSelected(1)">
                            <h4>Description</h4>
                            <p>{{product.description}}</p>
                        </div>
                        <div class="panel" data-ng-show="panel.isSelected(2)">
                            <h4>Specifications</h4>
                            <blockquote>None yet</blockquote>
                        </div>
                        <div class="panel" data-ng-show="panel.isSelected(3)">
                            <h4>Reviews</h4>
                            <blockquote data-ng-repeat="review in product.reviews">
                                <b>Stars: {{review.stars}}</b>
                                {{review.body}}
                                <footer>by <cite>{{review.author}}</cite> on {{review.createdOn | date}}</footer>
                            </blockquote>
                            <form name="reviewForm" data-ng-controller="ReviewController as reviewCtrl"
                                data-ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
                                <blockquote>
                                    <b>Stars: {{reviewCtrl.review.stars}}</b>
                                    {{reviewCtrl.review.body}}
                                    <footer>by <cite>{{reviewCtrl.review.author}}</cite></footer>
                                </blockquote>
                                <h4>Submit a Review</h4>
                                <fieldset class="form-group">
                                    <select ng-model="reviewCtrl.review.stars" class="form-control" 
                                        ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
                                        <option value="">Rate the Product</option>
                                    </select>
                                </fieldset>
                                <fieldset class="form-group">
                                    <textarea ng-model="reviewCtrl.review.body" class="form-control" 
                                        placeholder="Write a short review of the product..." title="Review" required>
                                    </textarea>
                                </fieldset>
                                <fieldset class="form-group">
                                    <input ng-model="reviewCtrl.review.author" type="email" class="form-control" 
                                    placeholder="jimmyDean@example.org" title="Email" required />
                                </fieldset>
                                <fieldset class="form-group">
                                    <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                                </fieldset>
                                form is valid {{reviewForm.$valid}}
                            </form>
                        </div>
                    </section>
                </div>
            </li>
        </ul>
        <script type="text/javascript" src="js/vendor/angular/angular.js"></script>
        <script type="text/javascript" src="js/flatlander.js"></script>
    </body>
</html>
