<!DOCTYPE html>
<html data-ng-app="store">
    <head>
        <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap/bootstrap.css" />
    </head>
    <body data-ng-controller="StoreController as store">
        <h1>{{"Hello," + " Angular!"}}</h1>
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="product in store.products">
                <div data-ng-hide="store.product.soldOut">
                    <h3>
                        {{product.name}}
                        <em class="pull-right">{{product.price | currency}}</em>
                    </h3>
                    <button data-ng-show="product.canPurchase">Add to Cart</button>
                    <div class="gallery" data-ng-show="product.images.length" 
                        data-ng-controller="GalleryController as gallery">
                        <div class="img-wrap">
                            <img ng-src="{{product.images[gallery.current].full}}" />
                        </div>
                        <ul class="img-thumbnails clearfix">
                            <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
                                <img data-ng-src="{{image.thumb}}" data-ng-click="gallery.setCurrent($index)" />
                            </li>
                        </ul>
                    </div>
                    <section data-ng-controller="PanelController as panel">
                        <ul class="nav nav-pills">
                            <li data-ng-class="{ active:panel.isSelected(1) }"> 
                                <a href data-ng-click="panel.setTab(1)">Description</a> 
                            </li>
                            <li data-ng-class="{ active:panel.isSelected(2) }"> 
                                <a href data-ng-click="panel.setTab(2)">Specifications</a> 
                            </li>
                            <li data-ng-class="{ active:panel.isSelected(3) }"> 
                                <a href data-ng-click="panel.setTab(3)">Reviews</a> 
                            </li>
                        </ul>
                        <div class="panel" data-ng-show="panel.isSelected(1)">
                            <h4>Description</h4>
                            <p>{{product.description}}</p>
                        </div>
                        <div class="panel" data-ng-show="panel.isSelected(2)">
                            <h4>Specifications</h4>
                            <blockquote>None yet</blockquote>
                        </div>
                        <div class="panel" data-ng-show="panel.isSelected(3)">
                            <h4>Reviews</h4>
                            <blockquote>None</blockquote>
                        </div>
                    </section>
                </div>
            </li>
        </ul>
        <script type="text/javascript" src="js/vendor/angular/angular.js"></script>
        <script type="text/javascript" src="js/flatlander.js"></script>
    </body>
</html>
